<div class="flexbox vertical center">
  <div class="footer flexbox horizontal center wrap justify-space-around">
    <div>Designed by <%= link_to("Johanna Brewer", "http://johannabrewer.com", class: "footer-link") %>.</div>
    <div>Inspired by <%= link_to("Food or Foe", "https://foodorfoe.app", class: "footer-link") %>.</div>
  </div>
</div>