<div class="flexbox vertical center">
  <div class="footer flexbox horizontal center wrap justify-space-around">
    <div>Designed by <%= link_to("Johanna Brewer", "http://johannabrewer.com") %>.</div>
    <div>Inspired by <%= link_to("Food or Foe", "https://foodorfoe.app") %>.</div>
    <div>Explore the <%= link_to("code on GitHub", "https://github.com/deadroxy/edible") %>.</div>
  </div>
</div>