<div class="flexbox vertical center">
  <div class="leaderboard flexbox vertical stretch">
  <div class="leaderboard-title flexbox vertical center">
    Leaderboard
  </div>
  <% if @leaders.present? %>
    <%= render(partial: "games/row", collection: @leaders, as: :game) %>
  <% else %>
  <div class="empty flexbox vertical center">
    No leaders yet.
  </div>
  <% end %>
  </div>
</div>