<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Edible Game!
    </div>  
    <div class="flexbox vertical stretch">

    </div>
	</div>
</div>