<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Edible Game!
    </div>  
    <div class="flexbox vertical stretch">
      <form action="<%= games_path %>" id="game_start" method="POST" enctype="multipart/form-data" class="flexbox vertical start">
        <div style="hidden">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        </div>
        <input id="game_start_submit" name="commit" type="submit" class="button" value="Start" tabindex="1">
      </form>
    </div>
	</div>
</div>