/************************************/
/*          Element Styles          */
/************************************/

.intro-prompt {
  font-size: 1em;
  font-style: italic;
  color: var(--gray-color);
  margin-bottom: 2em;
}

.button {
  border: 5px solid var(--black-color);
  background-color: var(--light-black-color);
  color: var(--white-color);
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 1.6em;
  padding: .4em .75em .45em .75em;
  text-transform: uppercase;
  max-width: 10em;
  white-space: normal;
  text-align: center;
  line-height: 1.4em;
  margin: 1em 1em 4em 1em;
}

.button:hover {
  cursor: pointer;
  border: 5px solid var(--light-black-color);
  background-color: var(--gray-color);
}

.button:active {
  cursor: pointer;
  border: 5px solid var(--gray-color);
  background-color: var(--light-gray-color);
  outline: none;
}

#game_play_yes.button {
  width: 5em;
}

#game_play_no.button {
  width: 5em;
}

#game_start.button {

}

.leaderboard {
  max-width: 40em;
  width: 100%;
  margin-bottom: 4em;
}

.leaderboard .record-row .rank {
  font-family: var(--info-font);
  width: 1.4em;
}

.leaderboard .record-row .name {
  font-family: var(--title-font);
  font-weight: 500;
}

.leaderboard .record-row .score-duration {
  font-family: var(--info-font);
}

.playable-emoji {
  font-size: 8em;
  margin-top: 0.5em;
}

.results .score {
  font-family: var(--title-font);
  font-size: 3em;
  font-weight: 700;
}

.results .duration {
  font-family: var(--info-font);
  font-size: 1em;
  color: var(--gray-color);
}

form#add-name {
  margin-top: 3em;
}

form#add-name label.text-field {
  line-height: 1.4em;
  text-align: center;
  margin-bottom: 2em;
  max-width: 20em;
}

form#add-name input.text-field {
  color: var(--black-color);
  background: var(--white-color);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1.3em;
  border: 5px solid var(--light-black-color);
  outline: none;
  padding: 0.8em 1em 0.7em 1em;
  width: 13em;
  text-align: center;
  margin-bottom: 0.5em;
}
