:root {
  --title-font:             'Rubik', 'Arial';
  --body-font:              'Rubik', 'Arial';
  --info-font:              'Inconsolata', 'Arial';

  --brown-color: #6D4B38;
  --light-brown-color: #896E66;
  
  --beige-color: #F2E6CC;
  --light-pink-color: #E5B9AA;
  --lightest-pink-color: #E8CDBA;
  
  --green-color: #53C156; 
  --red-color: #E84F4F;
  
  --orange-color: #FF884D;
  --light-orange-color: #FFB9A4;
}